<div class="page pt-5">
  <h1 class="text-center m-4">Welcome to Angular Group Messenger</h1>
  <div class="row">
    <div class="col-sm-4 mt-4 pt-5 offset-sm-4">
      <h3 class="text-center">Log in</h3>
      <form [formGroup]="loginUserForm"
            (ngSubmit)="onSubmit()"
            class="mt-5" novalidate>
        <div class="md-form form-lg">
          <!--          <i class="fas fa-user prefix"></i>-->
          <input type="text" formControlName="username"
                 name="username" id="username"
                 class="form-control form-control-lg" mdbInput
                 [class.is-invalid]="loginUserForm.controls.username.invalid && (loginUserForm.controls.username.dirty ||
                  loginUserForm.controls.username.touched)">
          <label for="username">Username</label>
          <div *ngIf="loginUserForm.controls.username.invalid" class="invalid-feedback">
            <div *ngIf="loginUserForm.controls.username.errors.required" class="alert alert-danger">Username Required
            </div>
            <div *ngIf="loginUserForm.controls.username.errors.minlength" class="alert alert-danger">Minimum 4
              characters
            </div>
          </div>
        </div>

        <div class="md-form form-lg">
          <!--          <i class="fa fa-lock prefix"></i>-->
          <input type="password" formControlName="password"
                 class="form-control form-control-lg"
                 name="password" id="password" mdbInput
                 [class.is-invalid]="loginUserForm.controls.username.invalid && (loginUserForm.controls.username.dirty ||
                  loginUserForm.controls.username.touched)">
          <label for="password">Password</label>

        </div>
        <div *ngIf="loginUserForm.controls.password.invalid &&
                loginUserForm.controls.password.touched" class="alert alert-danger">Invalid password</div>
        <div *ngIf="loginUserForm.controls.password.errors.required && (loginUserForm.controls.password.dirty||
                loginUserForm.controls.password.touched) " class="alert alert-danger">Required password
        </div>
        <div *ngIf="loginUserForm.controls.password.errors.minlength" class="alert alert-danger">Minimum 4
          characters
        </div>
        <button type="submit" class="btn btn-success offset-sm-3" mdbWavesEffect>Log in</button>
        <a routerLink="/sign-up">
          <button type="button" class="btn btn-primary offset-sm-1" mdbWavesEffect>Sign up</button>
        </a>
        <div *ngIf="loginAttempt && !loginStatus" class="alert alert-danger">This account does not exist</div>
      </form>
    </div>
  </div>
</div>
